.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    height: 95vh; /* Set height to full viewport height */
    box-sizing: border-box; /* Include padding and border in the element's total height */
    overflow: hidden;
}

.loginForm {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
}

.loginImageContainer {
    display: flex;
    align-items: center;
}

.loginRight {
    width: 100%;
    display: flex;
    justify-content: center;
}

.loginImage {
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.forgotPassword {
    color: #0073e6;
    text-decoration: none;
}

.forgotPassword:hover {
    text-decoration: underline;
}

.loginDivider {
    margin-top: 35px;
    margin-bottom: 35px;
}

.signUp {
    margin-top: 15px;
}

.signUpLink {
    text-decoration: none;
}

.signUpLink:hover {
    text-decoration: underline;
}