/* global.css */

body,
html {
    font-family: 'Roboto', sans-serif;
    background-color: #f7fafc;
}

.app-container {
    min-height: 100vh;
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.icon-container {
    background-color: #48bb78;
    padding: 0.5rem;
    border-radius: 9999px;
}

.icon {
    color: white;
}

.title {
    margin-left: 0.5rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.record-btn {
    background-color: #4299e1;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile-pic {
    background-color: #e2e8f0;
    border-radius: 9999px;
    width: 2rem;
    height: 2rem;
}

.profile-info p {
    margin: 0;
}

.profile-name {
    font-weight: 700;
}

.profile-status {
    font-size: 0.875rem;
    color: #718096;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 300px; /* Set a fixed width for the sidebar */
    padding: 20px; /* Specify padding */
    background-color: #f0f2f5; /* Match the records table background color */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}
.mainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f0f2f5;
}

.filtersContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.dateRangeSelect,
.sortSelect {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.dateRangeSelect label,
.sortSelect label {
    margin-right: 10px;
}

.dateRangeSelect select,
.sortSelect select {
    padding: 8px 12px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 14px;
}

.tableContainer {
    overflow-x: auto;
}

.recordsTable {
    width: 100%;
    border-collapse: collapse;
}

.tableHeader {
    background-color: #f0f2f5;
}

.tableHeader th {
    padding: 10px;
    text-align: left;
}

.tableRow {
    background-color: #fff;
}

.tableRow:nth-child(even) {
    background-color: #f0f2f5;
}

.tableRow td {
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
}

.amountColumn,
.amountCell {
    text-align: right;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.input {
    margin-bottom: 15px;
    border-radius: 4px;
}

.alert {
    margin-bottom: 8px;
}
