body {
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
  font-family: 'Poppins', sans-serif;
}

.ant-menu-item-selected {
  background-color: #4f6f52 !important;
  color: #ffffff !important;
}

.ant-btn:hover {
  color: #4f6f52 !important;
  border-color: #4f6f52 !important;
}

.ant-btn-primary {
  background-color: #4f6f52;
}

.ant-btn-primary:hover {
  background-color: #173a1a !important;
  color: #ffffff !important;
}